/* Estilos para la tabla */
.table-container {
  width: 80%;
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datagrid {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

/* Estilo para las cabeceras de la tabla */
.datagrid th {
  background-color: #9b59b6; /* Morado para cabeceras */
  color: #FFFFFF;
  width: 33.33%;
}

/* Estilos para las celdas pares de la tabla */
.datagrid tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas impares de la tabla */
.datagrid tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Estilos para las celdas de datos */
.datagrid td {
  width: 33.33%;
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
}

/* Estilos para el botón y el contenedor (izquierda y separación) */
.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.button, .button1 {
  display: inline-block;
  padding: 10px 20px;
  background: #9b59b6; /* Morado para botones */
  color: #FFFFFF;
  border: 1px solid #9b59b6; /* Borde morado para botones */
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-right: 10px;
}

.button:hover, .button1:hover {
  background: #8e44ad; /* Morado más oscuro al pasar el ratón */
}

.search-input {
  padding: 10px;
  border: 1px solid #9b59b6; /* Borde morado para input */
  border-radius: 3px;
  margin-right: 10px;
}
